<div class="col-lg-12 container about">
	<h1>About Me</h1>
	<hr class="star-light">
	<h3> My background in both comedy writing and customer service gives me a unique perspective on how to build an app. Comedy writing is fun and creative, but follows formatting rules, much like coding, so I know how to "draw inside the lines" without being boring. I use my comedy experience to build full stack Ruby on Rails apps.</h3>
	<hr class="star-light">
	<%= link_to "View my resume", resume_path %>
</div>