<div class="col-lg-12 container about">
	<h1>About Me</h1>
	<hr class="star-light">
	<h3>
		I am a front end developer with a passion for JavaScript, jQuery, and React. I love problem solving, debugging, and building awesome web apps! As an experienced technical instructor, I’m passionate about mentoring other developers and helping them hone their skills.
	</h3>
	<hr class="star-light">
	<%= link_to "View my resume", resume_path %>
</div>
