<div class="col-lg-12 container contact">
	<br><br>
	<h2>Contact Me!</h2>
	<br>
	<h4><span class="glyphicon glyphicon-envelope"></span> <%= mail_to 'katekodes@gmail.com', 'Email' %></h4>
	<br>
	<h4><span class="icon-logo linkedin"></span> <%= link_to 'LinkedIn Profile', 'https://www.linkedin.com/in/katewood611' %></h4>
	<br>
	<h4><span class="icon-logo github"></span> <%= link_to 'GitHub Profile', 'https://github.com/KateWood' %></h4>
	<br>
	<h4><span class="icon-logo ga"></span> <%= link_to 'GA Profile', 'https://profiles.generalassemb.ly/katewood' %></h4>
</div>