<div class="col-lg-12 container">
  <h3>I'm currently updating my portfolio site and rebuilding it in React.</h3>
  <h3>Come back in April to see it!</h3>
	<%= image_tag "main.jpg", :class => "img-responsive main-img" %>
	<br>
	<h1>Kate Wood</h1>
	<hr class="star-light">
	<h2>Front End Web Developer</h2>
</div>