<%= render 'navbar' %>

<div class="container">
	<h3>Project 4: Applied Meaning</h3>

	<p>Applied Meaning is a self-help tool that helps users identify ways to live a more meaningful life. Users add their meaning categories (what is important to them), sub categories (specific parts of the overall meaning category), and behaviors (small tasks that can be performed regularly). Each user's Meaning Profile on the Applied Meaning website is visible only to them, and can be used daily to help the user live a happy and meaningful life.</p>

	<p>I built this with a partner. I was the primary back-end developer for this project. This was very different than my previous projects, because, although I had seven models, all of which needed to allow the user to create data, I essentially had one page to work with. Aside from the landing/login page, this is a single page app. My favorite part about this project was figuring out how to use nested forms and force parameters without changing the URL. It was very difficult, but incredibly rewarding when I got everything to work just the way I had planned. If I had to do it again, I would map out the models more. I ended up adding and removing columns for at least five of the seven models, which could have been avoided with a little more planning at the beginning.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Bootstrap</li>
		<li>Ruby on Rails</li>
		<li>D3</li>
		<li>PostgreSQL</li>
		<li>RSpec</li>
		<li>Factory Girl</li>
		<li>Capybara</li>
		<li>Travis-CI</li>
		<li>Heroku</li>
	</ul>

	<em>Click on any of the images below to go to the deployed version of Applied Meaning.</em>

	<h4>User's Meaning Profile</h4>
	<%= link_to (image_tag 'appliedmeaningprofile.png'), 'https://applied-meaning.herokuapp.com', :class => "linkpic" %>

	<h4>Readme</h4>
	<%= link_to (image_tag 'appliedmeaningreadme.png'), 'https://applied-meaning.herokuapp.com', :class => "linkpic" %>

</div>



