<nav class="nav navbar nav-pink navbar-fixed-top">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="icon"><%= image_tag "default.jpg", :class => "icon" %></span>  Kate Wood - Web Developer</a>
		</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/resume">R&eacute;sum&eacute;</a></li>
				<li class="dropdown">
					<a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/projects/1">Tic-Tac-Toe</a></li>
						<li><a href="/projects/2">Petnet</a></li>
						<li><a href="/projects/3">Muziqala</a></li>
						<li><a href="/projects/4">Applied Meaning</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="container">
	<h3>Project 4: Applied Meaning</h3>

	<p>Applied Meaning is a self-help tool. Users add their meaning categories (what is important to them), sub categories (specific parts of the overall meaning category), and behaviors (small tasks that can be performed regularly). Each user's Meaning Profile on the Applied Meaning website is visible only to them, and can be used daily to help the user live a happy and meaningful life.</p>

	<p>I built this with a partner. I was the primary back-end developer for this project. This was very different than my previous projects, because, although I had seven models, all of which needed to allow the user to create data, I essentially had one page to work with. Aside from the landing/login page, this is a single page app. My favorite part about this project was figuring out how to use nested forms and force parameters without changing the URL. It was very difficult, but incredibly rewarding when I got everything to work just the way I had planned. If I had to do it again, I would map out the models more. I ended up adding and removing columns for at least five of the seven models, which could have been avoided with a little more planning at the beginning.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Bootstrap</li>
		<li>Ruby on Rails</li>
		<li>D3</li>
		<li>PostgreSQL</li>
		<li>RSpec</li>
		<li>Factory Girl</li>
		<li>Capybara</li>
		<li>Travis-CI</li>
		<li>Heroku</li>
	</ul>

	<em>Click on the image to go to the deployed version of Applied Meaning.</em>
</div>

<%= link_to (image_tag 'applied_meaning.png'), 'https://applied-meaning.herokuapp.com' %>

