<div class="stripe col-lg-12" id="stripe1">
	<%= image_tag "default.jpg", :class => "img-responsive main-img" %>
	<br>
	<h1>Kate Wood</h1>
	<hr class="star-light">
	<h2>Full Stack Web Developer</h2>
</div>

<div class="stripe" id="stripe2">
	<h1>About Me</h1>
</div>

<div class="stripe" id="stripe3">
</div>

<div class="stripe" id="stripe4">
</div>
