<div class="stripe col-lg-12 container" id="stripe1">
	<%= image_tag "default.jpg", :class => "img-responsive main-img" %>
	<br>
	<h1>Kate Wood</h1>
	<hr class="star-light">
	<h2>Full Stack Web Developer</h2>
</div>

<div class="stripe" id="stripe2">
	<div class="col-lg-12 container">
		
	</div>
</div>

<div class="stripe" id="stripe3">
	<div class="col-lg-12 container">
		<h1>About Me</h1>
		<hr class="star-light">
		<h3> My background in both comedy writing and customer service give me a unique perspective on how to build an app. Comedy writing is fun and creative, but follows formatting rules, much like coding, so I know how to "draw inside the lines" without being boring. I also know how to communicate with customers and make them happy.</h3>
	</div>
</div>

<div class="stripe" id="stripe4">
	<div class="col-lg-12 container">
		
	</div>
</div>
