<div class="stripe" id="stripe1">
</div>

<div class="stripe" id="stripe2">
	<%= render 'resume.html.erb' %>
</div>

<div class="stripe" id="stripe3">
</div>

<div class="stripe" id="stripe4">
</div>
