<%= render 'navbar' %>

<div class="container">
	<h3>Project 3: Muziqala</h3>

	<p>Muziqala is a new way to access music from Spotify, and see what music your friends are listening to. All users can add songs to public playlists that everyone else can access and listen to.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Bootstrap</li>
		<li>Ruby on Rails</li>
		<li>Spotify API</li>
		<li>PostgreSQL</li>
		<li>RSpec</li>
		<li>Factory Girl</li>
		<li>Capybara</li>
		<li>Travis-CI</li>
		<li>Heroku</li>
	</ul>

	<em>Click on the image to go to the deployed version of Muziqala.</em>
</div>

<%= link_to (image_tag 'muziqala.png'), 'https://muziqala.herokuapp.com/' %>

