<h1>Projects</h1>

<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="projects/1">Tic-Tac-Toe</a></li>
	<li role="presentation"><a href="projects/2">Petnet</a></li>
	<li role="presentation"><a href="projects/3">Muziqala</a></li>
	<li role="presentation"><a href="projects/4">Applied Meaning</a></li>
</ul>