<h1>Projects</h1>

<h3>Project 1: Tic-Tac-Toe</h3>

<p>This <em>Fire & Ice</em> themed Tic-Tac-Toe game is a two-player game which updates the screen for both players as each player takes his/her turn.<br>Each player may only choose a square on his/her turn, and the game ends when someone wins or all of the spaces are taken with no winner.</p>

<%= link_to (image_tag 'tictactoe.png'), 'https://tictactoekate.firebaseapp.com/' %>

<h4>Technologies:</h4>

<ul>
	<li>HTML/CSS</li>
	<li>Javascript</li>
	<li>Angular.js</li>
	<li>Firebase</li>
</ul>