<h2>Education</h2>
<br>
<h4>General Assembly - Web Development Immersive (WDI) | Apr 2015 - Jul 2015 | Santa Monica, CA</h4>
<p>I went into WDI not knowing if I would like coding, but I ended up LOVING it! I found the lessons to be informative and exciting; I couldn't get enough. Now that the course has ended, I'm still excited to continue to be part of the GA community as a TA or mentor. I have made so many wonderful friends and learned so many amazing things that I would certainly describe WDI as one of the best and most fulfilling experiences of my life.</p>

<br>
<h4>New York University (B.F.A. in Film & Television) | Sep 2004 - Oct 2005 & May 2010 - Dec 2011 | New York, NY</h4>
<p>I studied film and television in college and moved to Los Angeles to pursue a career as a television writer. Although I have not gotten that job, I have had many wonderful experiences in California, and my path has lead me to coding, which I really enjoy.</p>

<br>
<h2>Previous Employment</h2>
<br>
<h4>Administrative Temp at Apple One (Temp Agency) | Jun 2013 - Apr 2015 | Santa Clarita, CA</h4>
<p>I was assigned to several different temporary positions during my time with Apple One. These positions ranged from receptionist to claims clerk to customer service representative. In these positions I spent most of my time working on a computer (Excel, Word, Outlook), answering phones (speaking with customers), and doing miscellaneous tasks for my supervisor, such as making copies, filing, and faxing.</p>

<br>
<h4>Social Media Consultant at Zinga! World's Best Frozen Yogurt | Mar 2011 - Jun 2013 | Santa Clarita, CA</h4>
<p>While working for Zinga, I created instructional social media videos for franchisees, created and maintained the official Operations Manual, created and maintained other manuals specific to this company, edited the company website, acted as an administrator of the company's facebook page, responded to customer concerns and promoted new store openings online.</p>

<br>
<h4>Administrative Aid at Jersey Mike's (Corporate Office) | Jul 2009 - Oct 2009 | Point Pleasant, NJ</h4>
<p>During my 3-month contract with Jersey Mike's, I editing their Operations and Safety Manuals, and I created an employee manual for the "Team Washington" area director.</p>

<br>
<h4>Office Assistant/Payroll Clerk at Daventures, Ltd. | Aug 2007 - Feb 2008 | Manassas, VA</h4>
<p>At Daventures, I processed bi-weekly payroll for 300+ employees, managed accounts receivable, ordered office supplies, processed new hires, answered phones, sent faxes, sorted and distributed mail, sent mail for supervisors, and assisted supervisors with various tasks upon request. <br>
I returned to this position in January 2010 until May 2010, as a temporary fill-in before I returned to college to finish my degree.</p>