<%= render 'navbar' %>

<div class="container">
	<h3>Project 1: Tic-Tac-Toe</h3>

	<p>This <em>Fire & Ice</em> themed Tic-Tac-Toe game is a two-player game which updates the screen for both players as each player takes his/her turn.<br>Each player may only choose a square on his/her turn, and the game ends when someone wins or all of the spaces are taken with no winner.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Javascript</li>
		<li>Angular.js</li>
		<li>Firebase</li>
	</ul>

	<em>Click on the image to go to the deployed version of my Tic-Tac-Toe. To experience all of the features, open the site in two browser windows side-by-side.</em>
</div>

<%= link_to (image_tag 'tictactoe.png'), 'https://tictactoekate.firebaseapp.com/' %>

