<nav class="nav navbar nav-pink navbar-fixed-top">
	<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><span class="icon"><%= image_tag "default.jpg", :class => "icon" %></span>  Kate Wood - Web Developer</a>
		</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/resume">R&eacute;sum&eacute;</a></li>
				<li class="dropdown">
					<a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/projects/1">Tic-Tac-Toe</a></li>
						<li><a href="/projects/2">Petnet</a></li>
						<li><a href="/projects/3">Muziqala</a></li>
						<li><a href="/projects/4">Applied Meaning</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="container">
	<h3>Project 1: Tic-Tac-Toe</h3>

	<p>This <em>Fire & Ice</em> themed Tic-Tac-Toe game is a two-player game which updates the screen for both players as each player takes his/her turn.<br>Each player may only choose a square on his/her turn, and the game ends when someone wins or all of the spaces are taken with no winner.</p>

	<h4>Technologies:</h4>

	<ul>
		<li>HTML/CSS</li>
		<li>Javascript</li>
		<li>Angular.js</li>
		<li>Firebase</li>
	</ul>

	<em>Click on the image to go to the deployed version of my Tic-Tac-Toe. To experience all of the features, open the site in two browser windows side-by-side.</em>
</div>

<%= link_to (image_tag 'tictactoe.png'), 'https://tictactoekate.firebaseapp.com/' %>

